.container{
    text-align: center;
}
.title{
    margin-top: 35px;
    color: white;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reset{
    width: 200px;
    height: 80px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    background-color: #1f3540;
    font-size: 26px;
    color: #26ffcb;
    margin: 25px auto 50px auto;
    display: block;
}
.box{
    height: 500px ;
    width: 440px;
    display: flex;
    margin: auto;
}
.boxes{
    display: flex;
    height: 150px;
    width: 150px;
    background-color: #124158;
    border: 3px solid #0f1b21;
    border-radius: 12px;
    cursor: pointer;
}
.boxes img{
    margin: 50px 50px;
}
.title img{
    padding: 20px 20px;
    height: 50px;
}